.players {
    border-collapse: collapse;
    width: 100%;
}

.players td {
    border: 1px dotted;
    font: bold .8rem sans-serif;
    padding: 0 .15rem;
}

.players td:first-of-type {
    text-align: right;
}

.players td.centered {
    text-align: center;
}

.players input {
    border: none;
    box-sizing: border-box;
    font: .8rem sans-serif;
    width: 100%;
}

.players input[type="number"] {
    text-align: right;
}

.buttons {
    display: flex;
    margin: .5rem 0;
}

.save,
.clean {
    border: none;
    color: white;
    cursor: pointer;
    flex: 1;
    font: 1rem sans-serif;
    margin: 0 10%;
    padding: .5rem;
}

.save:hover,
.clean:hover {
    font-weight: bold;
}

.save {
    background: green;
}

.save:active {
    color: lightgreen;
}

.clean {
    background: darkred;
}

.clean:active {
    color: red;
}

.message-board {
    background: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 33%;
}

.message {
    background: blue;
    color: white;
    cursor: pointer;
    font: 1rem sans-serif;
    margin-bottom: .1rem;
    padding: .5rem 2rem;
}

.message.error {
    background: darkred;
}

.message.success {
    background: green;
}

#autocomplete {
    background: white;
    border-collapse: collapse;
    margin-bottom: 1rem;
    position: absolute;
}

#autocomplete tr {
    border: 1px solid green;
}

#autocomplete tr:hover,
#autocomplete tr.selected {
    background: green;
    color: white;
    cursor: pointer;
}