.players {
    border-collapse: collapse;
    width: 100%;
}

.players td {
    border: 1px dotted;
}

.players td:first-of-type {
    text-align: right;
}

.players input {
    box-sizing: border-box;
    width: 100%;
}

.buttons {
    display: flex;
    margin: .5em 0;
}

.save,
.clean {
    border: none;
    color: white;
    cursor: pointer;
    flex: 1;
    font-size: 1em;
    margin: 0 10%;
    padding: .4em 1em;
}

.save:hover,
.clean:hover {
    font-weight: bold;
}

.save {
    background: green;
}

.save:active {
    color: lightgreen;
}

.clean {
    background: darkred;
}

.clean:active {
    color: red;
}

#autocomplete {
    background: white;
    border-collapse: collapse;
    margin-bottom: 1em;
    position: absolute;
}

#autocomplete tr {
    border: 1px solid green;
}

#autocomplete tr:hover,
#autocomplete tr.selected {
    background: green;
    color: white;
    cursor: pointer;
}